In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
df = pd.read_csv('raw_data.csv')

In [37]:
df

,age,years_experience,education_level,group_department,performancescore,performance_category
0,58,23,High School,Finance,10.0,Excellent
1,48,39,Bchelor,HR,NaN,NaN
2,34,15,High School,HR,5.0,NaN
3,40,29,PhD,HR,4.0,Average
4,40,36,PhD,Finance,2.0,Poor
...,...,...,...,...,...,...
786,21,19,Bachelor,Sales,9.0,Very Good
787,25,4,Master,Finance,4.0,Average
788,47,35,Bachelor,Finance,6.0,Good
789,47,17,High School,Sales,1.0,Poor
790,39,28,Bachelor,Sales,9.0,Very Good

In [38]:
df.shape

(791, 6)

In [39]:
df.head()

,age,years_experience,education_level,group_department,performancescore,performance_category
0,58,23,High School,Finance,10.0,Excellent
1,48,39,Bchelor,HR,NaN,NaN
2,34,15,High School,HR,5.0,NaN
3,40,29,PhD,HR,4.0,Average
4,40,36,PhD,Finance,2.0,Poor

In [40]:
df.tail()

,age,years_experience,education_level,group_department,performancescore,performance_category
786,21,19,Bachelor,Sales,9.0,Very Good
787,25,4,Master,Finance,4.0,Average
788,47,35,Bachelor,Finance,6.0,Good
789,47,17,High School,Sales,1.0,Poor
790,39,28,Bachelor,Sales,9.0,Very Good

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   791 non-null    int64
 1   years_experience      791 non-null    int64
 2   education_level       791 non-null    object
 3   group_department      791 non-null    object
 4   performancescore      790 non-null    float64
 5   performance_category  789 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 37.2+ KB

In [42]:
df.isnull().sum()

age                     0
years_experience        0
education_level         0
group_department        0
performancescore        1
performance_category    2
dtype: int64

In [43]:
df['education_level'].unique()

array(['High School', 'Bchelor', 'PhD', "Master's", 'Master', 'Hs',
       'Bachelor'], dtype=object)

In [44]:
df.columns

Index(['age', 'years_experience', 'education_level', 'group_department',
       'performancescore', 'performance_category'],
      dtype='object')

In [45]:
df.rename(columns={
    'performancescore': 'performance_score',
    'group_department': 'department'
}, inplace=True)

df

,age,years_experience,education_level,department,performance_score,performance_category
0,58,23,High School,Finance,10.0,Excellent
1,48,39,Bchelor,HR,NaN,NaN
2,34,15,High School,HR,5.0,NaN
3,40,29,PhD,HR,4.0,Average
4,40,36,PhD,Finance,2.0,Poor
...,...,...,...,...,...,...
786,21,19,Bachelor,Sales,9.0,Very Good
787,25,4,Master,Finance,4.0,Average
788,47,35,Bachelor,Finance,6.0,Good
789,47,17,High School,Sales,1.0,Poor
790,39,28,Bachelor,Sales,9.0,Very Good

In [47]:
df['education_level'].unique()

array(['High School', 'Bchelor', 'PhD', "Master's", 'Master', 'Hs',
       'Bachelor'], dtype=object)

In [50]:
df['education_level'] = df['education_level'].str.strip()

edu_map = {
    'Bchelor': 'Bachelor',
    "Master's": 'Master',
    'Hs': 'High School'
}

df['education_level'] = df['education_level'].replace(edu_map)
print(df['education_level'].unique())

['High School' 'Bachelor' 'PhD' 'Master']

In [51]:
df

,age,years_experience,education_level,department,performance_score,performance_category
0,58,23,High School,Finance,10.0,Excellent
1,48,39,Bachelor,HR,NaN,NaN
2,34,15,High School,HR,5.0,NaN
3,40,29,PhD,HR,4.0,Average
4,40,36,PhD,Finance,2.0,Poor
...,...,...,...,...,...,...
786,21,19,Bachelor,Sales,9.0,Very Good
787,25,4,Master,Finance,4.0,Average
788,47,35,Bachelor,Finance,6.0,Good
789,47,17,High School,Sales,1.0,Poor
790,39,28,Bachelor,Sales,9.0,Very Good

In [ ]:
df.dropna(subset=['performance_score', 'performance_category'], 
          how='all', inplace=True)

,age,years_experience,education_level,department,performance_score,performance_category
0,58,23,High School,Finance,10.0,Excellent
2,34,15,High School,HR,5.0,NaN
3,40,29,PhD,HR,4.0,Average
4,40,36,PhD,Finance,2.0,Poor
5,58,13,PhD,Tech,4.0,Average
...,...,...,...,...,...,...
786,21,19,Bachelor,Sales,9.0,Very Good
787,25,4,Master,Finance,4.0,Average
788,47,35,Bachelor,Finance,6.0,Good
789,47,17,High School,Sales,1.0,Poor
790,39,28,Bachelor,Sales,9.0,Very Good

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 790 entries, 0 to 790
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   790 non-null    int64
 1   years_experience      790 non-null    int64
 2   education_level       790 non-null    object
 3   department            790 non-null    object
 4   performance_score     790 non-null    float64
 5   performance_category  789 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 43.2+ KB

In [57]:
def categorize(score):
    if score <= 2:
        return 'Poor'
    if score <= 4:
        return 'Average'
    if score <= 6:
        return 'Good'
    if score <= 8:
        return 'Very Good'
    else:
        return 'Excellent'

df['performance_category'] = df['performance_category'].fillna(
    df['performance_score'].apply(categorize))

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 790 entries, 0 to 790
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   790 non-null    int64
 1   years_experience      790 non-null    int64
 2   education_level       790 non-null    object
 3   department            790 non-null    object
 4   performance_score     790 non-null    float64
 5   performance_category  790 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 43.2+ KB

In [59]:
df

,age,years_experience,education_level,department,performance_score,performance_category
0,58,23,High School,Finance,10.0,Excellent
2,34,15,High School,HR,5.0,Good
3,40,29,PhD,HR,4.0,Average
4,40,36,PhD,Finance,2.0,Poor
5,58,13,PhD,Tech,4.0,Average
...,...,...,...,...,...,...
786,21,19,Bachelor,Sales,9.0,Very Good
787,25,4,Master,Finance,4.0,Average
788,47,35,Bachelor,Finance,6.0,Good
789,47,17,High School,Sales,1.0,Poor
790,39,28,Bachelor,Sales,9.0,Very Good

In [60]:
df.to_csv('cleaned_data.csv', index=False)