In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
df = pd.read_csv('raw_data.csv')

In [37]:
df

,age,years_experience,education_level,group_department,performancescore,performance_category
0,58,23,High School,Finance,10.0,Excellent
1,48,39,Bchelor,HR,NaN,NaN
2,34,15,High School,HR,5.0,NaN
3,40,29,PhD,HR,4.0,Average
4,40,36,PhD,Finance,2.0,Poor
...,...,...,...,...,...,...
786,21,19,Bachelor,Sales,9.0,Very Good
787,25,4,Master,Finance,4.0,Average
788,47,35,Bachelor,Finance,6.0,Good
789,47,17,High School,Sales,1.0,Poor
790,39,28,Bachelor,Sales,9.0,Very Good

In [38]:
df.shape

(791, 6)

In [39]:
df.head()

,age,years_experience,education_level,group_department,performancescore,performance_category
0,58,23,High School,Finance,10.0,Excellent
1,48,39,Bchelor,HR,NaN,NaN
2,34,15,High School,HR,5.0,NaN
3,40,29,PhD,HR,4.0,Average
4,40,36,PhD,Finance,2.0,Poor

In [40]:
df.tail()

,age,years_experience,education_level,group_department,performancescore,performance_category
786,21,19,Bachelor,Sales,9.0,Very Good
787,25,4,Master,Finance,4.0,Average
788,47,35,Bachelor,Finance,6.0,Good
789,47,17,High School,Sales,1.0,Poor
790,39,28,Bachelor,Sales,9.0,Very Good

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   791 non-null    int64
 1   years_experience      791 non-null    int64
 2   education_level       791 non-null    object
 3   group_department      791 non-null    object
 4   performancescore      790 non-null    float64
 5   performance_category  789 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 37.2+ KB

In [42]:
df.isnull().sum()

age                     0
years_experience        0
education_level         0
group_department        0
performancescore        1
performance_category    2
dtype: int64

In [43]:
df['education_level'].unique()

array(['High School', 'Bchelor', 'PhD', "Master's", 'Master', 'Hs',
       'Bachelor'], dtype=object)

In [44]:
df.columns

Index(['age', 'years_experience', 'education_level', 'group_department',
       'performancescore', 'performance_category'],
      dtype='object')

In [45]:
df.rename(columns={
    'performancescore': 'performance_score',
    'group_department': 'department'
}, inplace=True)

df

,age,years_experience,education_level,department,performance_score,performance_category
0,58,23,High School,Finance,10.0,Excellent
1,48,39,Bchelor,HR,NaN,NaN
2,34,15,High School,HR,5.0,NaN
3,40,29,PhD,HR,4.0,Average
4,40,36,PhD,Finance,2.0,Poor
...,...,...,...,...,...,...
786,21,19,Bachelor,Sales,9.0,Very Good
787,25,4,Master,Finance,4.0,Average
788,47,35,Bachelor,Finance,6.0,Good
789,47,17,High School,Sales,1.0,Poor
790,39,28,Bachelor,Sales,9.0,Very Good

In [47]:
df['education_level'].unique()

array(['High School', 'Bchelor', 'PhD', "Master's", 'Master', 'Hs',
       'Bachelor'], dtype=object)

In [50]:
df['education_level'] = df['education_level'].str.strip()

edu_map = {
    'Bchelor': 'Bachelor',
    "Master's": 'Master',
    'Hs': 'High School'
}

df['education_level'] = df['education_level'].replace(edu_map)
print(df['education_level'].unique())

['High School' 'Bachelor' 'PhD' 'Master']

In [51]:
df

,age,years_experience,education_level,department,performance_score,performance_category
0,58,23,High School,Finance,10.0,Excellent
1,48,39,Bachelor,HR,NaN,NaN
2,34,15,High School,HR,5.0,NaN
3,40,29,PhD,HR,4.0,Average
4,40,36,PhD,Finance,2.0,Poor
...,...,...,...,...,...,...
786,21,19,Bachelor,Sales,9.0,Very Good
787,25,4,Master,Finance,4.0,Average
788,47,35,Bachelor,Finance,6.0,Good
789,47,17,High School,Sales,1.0,Poor
790,39,28,Bachelor,Sales,9.0,Very Good

In [ ]:
df.dropna(subset=['performance_score', 'performance_category'], 
          how='all', inplace=True)

,age,years_experience,education_level,department,performance_score,performance_category
0,58,23,High School,Finance,10.0,Excellent
2,34,15,High School,HR,5.0,NaN
3,40,29,PhD,HR,4.0,Average
4,40,36,PhD,Finance,2.0,Poor
5,58,13,PhD,Tech,4.0,Average
...,...,...,...,...,...,...
786,21,19,Bachelor,Sales,9.0,Very Good
787,25,4,Master,Finance,4.0,Average
788,47,35,Bachelor,Finance,6.0,Good
789,47,17,High School,Sales,1.0,Poor
790,39,28,Bachelor,Sales,9.0,Very Good

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 790 entries, 0 to 790
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   790 non-null    int64
 1   years_experience      790 non-null    int64
 2   education_level       790 non-null    object
 3   department            790 non-null    object
 4   performance_score     790 non-null    float64
 5   performance_category  789 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 43.2+ KB

In [57]:
def categorize(score):
    if score <= 2:
        return 'Poor'
    if score <= 4:
        return 'Average'
    if score <= 6:
        return 'Good'
    if score <= 8:
        return 'Very Good'
    else:
        return 'Excellent'

df['performance_category'] = df['performance_category'].fillna(
    df['performance_score'].apply(categorize))

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 790 entries, 0 to 790
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   790 non-null    int64
 1   years_experience      790 non-null    int64
 2   education_level       790 non-null    object
 3   department            790 non-null    object
 4   performance_score     790 non-null    float64
 5   performance_category  790 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 43.2+ KB

In [59]:
df

,age,years_experience,education_level,department,performance_score,performance_category
0,58,23,High School,Finance,10.0,Excellent
2,34,15,High School,HR,5.0,Good
3,40,29,PhD,HR,4.0,Average
4,40,36,PhD,Finance,2.0,Poor
5,58,13,PhD,Tech,4.0,Average
...,...,...,...,...,...,...
786,21,19,Bachelor,Sales,9.0,Very Good
787,25,4,Master,Finance,4.0,Average
788,47,35,Bachelor,Finance,6.0,Good
789,47,17,High School,Sales,1.0,Poor
790,39,28,Bachelor,Sales,9.0,Very Good

In [60]:
df.to_csv('cleaned_data.csv', index=False)

In [62]:
df = pd.read_csv('cleaned_data.csv')

In [63]:
df

,age,years_experience,education_level,department,performance_score,performance_category
0,58,23,High School,Finance,10.0,Excellent
1,34,15,High School,HR,5.0,Good
2,40,29,PhD,HR,4.0,Average
3,40,36,PhD,Finance,2.0,Poor
4,58,13,PhD,Tech,4.0,Average
...,...,...,...,...,...,...
785,21,19,Bachelor,Sales,9.0,Very Good
786,25,4,Master,Finance,4.0,Average
787,47,35,Bachelor,Finance,6.0,Good
788,47,17,High School,Sales,1.0,Poor
789,39,28,Bachelor,Sales,9.0,Very Good

In [65]:
df['annual_performance'] = (
    df['performance_score'] / df['years_experience'].replace(0, 1)
)

df['annual_performance'].unique()

array([ 0.43478261,  0.33333333,  0.13793103,  0.05555556,  0.30769231,
        0.3125    ,  1.42857143,  0.13636364,  0.35714286,  0.5       ,
        1.33333333,  0.17857143,  0.14285714,  0.4       ,  0.23333333,
        0.18181818,  0.03571429,  0.16      ,  0.20512821,  0.06060606,
        3.        ,  0.03703704,  0.07692308,  1.        ,  0.12820513,
        0.125     ,  0.88888889,  0.27027027,  0.13333333,  0.09375   ,
        0.21875   ,  0.04166667,  0.83333333,  5.        ,  3.33333333,
        0.11764706,  1.5       ,  4.5       ,  0.25      ,  0.17391304,
        0.15625   ,  8.        ,  0.21052632,  0.19230769,  0.28125   ,
        0.66666667,  1.25      ,  0.81818182,  0.47058824,  0.07894737,
        0.6       ,  0.04545455,  0.63636364,  0.21212121,  0.55555556,
        0.16666667,  0.4375    ,  0.24137931,  0.15      ,  0.05263158,
        0.03846154,  0.47368421,  0.3       ,  0.12121212,  0.23076923,
        9.        ,  0.12      ,  0.16129032,  0.08571429,  1.28571429,
        2.        ,  0.58333333,  1.8       ,  0.18918919,  1.11111111,
        0.28571429,  0.36842105,  0.625     ,  1.66666667,  0.29166667,
        0.375     ,  0.90909091,  0.02777778,  0.15789474,  0.35      ,
        0.22857143,  0.25714286,  0.08      ,  0.34482759,  0.11111111,
        0.27777778,  2.5       ,  0.17142857,  0.1875    ,  0.22222222,
        0.03030303,  0.10526316,  0.85714286,  0.15384615,  0.10714286,
        0.29032258,  0.2       ,  0.02857143,  1.14285714,  0.38461538,
        0.41666667,  0.8       ,  2.66666667,  0.08333333,  0.20833333,
        0.18421053,  0.32      ,  0.11428571,  0.44444444,  0.09090909,
        0.75      ,  0.15151515,  0.0952381 ,  0.71428571,  0.05882353,
        0.45454545,  0.03333333,  0.26315789,  0.23684211,  0.17647059,
        0.38095238,  0.3030303 ,  1.6       ,  0.21428571,  0.05714286,
        0.10344828,  0.22580645,  0.26086957,  0.28      ,  0.30434783,
        0.37037037,  0.23529412,  0.27272727,  0.25641026,  0.34615385,
        0.05      ,  0.5625    ,  0.07142857,  0.39130435,  0.22727273,
        1.4       ,  1.75      ,  0.26666667,  0.61538462,  0.02702703,
        0.29411765,  6.        ,  0.0625    ,  0.17241379,  0.26923077,
        0.47619048,  0.05128205,  0.2173913 ,  0.9       ,  0.19354839,
        0.7       ,  0.06451613,  0.36363636,  3.5       ,  0.14814815,
        0.04      ,  0.57142857,  4.        ,  0.06666667,  0.08823529,
        0.04347826,  0.05405405,  0.03125   ,  0.52631579,  7.        ,
        0.21621622,  1.2       ,  0.04761905,  0.17948718,  0.13888889,
        0.1       ,  0.10810811,  0.08695652,  0.32258065,  0.24242424,
        0.27586207,  0.06896552,  0.31034483,  0.16216216,  0.13513514,
        0.76923077,  0.09677419,  0.31578947,  0.24      ,  0.23809524,
        0.1025641 ,  0.02631579,  0.69230769,  0.08108108,  0.46153846,
        0.32142857, 10.        ,  0.42105263,  0.38888889,  0.875     ,
        0.07407407,  0.41176471,  0.53846154,  0.2962963 ,  0.77777778,
        0.46666667,  0.02564103,  0.13043478,  0.24324324,  0.14705882,
        1.16666667,  0.45      ,  0.12903226,  0.20689655,  0.64285714,
        0.35294118,  0.31818182,  0.40909091,  0.18518519,  0.19047619])

In [66]:
df['performance_level'] = df['performance_category'].map({
    'Poor': 'Low', 'Average': 'Low',
    'Good': 'Medium', 'Very Good': 'High', 'Excellent': 'High'
})
df['performance_level'].unique()

array(['High', 'Medium', 'Low'], dtype=object)

In [67]:
df['age_group'] = pd.cut(df['age'], bins=[0, 29, 45, 100],
                         labels=['Young', 'Mid-Career', 'Senior'])
df['age_group'].unique()

['Senior', 'Mid-Career', 'Young']
Categories (3, object): ['Young' < 'Mid-Career' < 'Senior']

In [68]:
df['experience_band'] = pd.cut(df['years_experience'],
                               bins=[0, 5, 10, 20, 40],
                               labels=['Entry', 'Junior', 'Mid', 'Senior'])
df['experience_band'].unique()

['Senior', 'Mid', 'Junior', 'Entry']
Categories (4, object): ['Entry' < 'Junior' < 'Mid' < 'Senior']

In [69]:
df.to_csv('final_data.csv', index= False)